@noclocks:registry=https://npm.pkg.github.com
@noclocksdev:registry=https://registry.npmjs.org

//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true

//npm.pkg.github.com/:_authToken=${GH_PKG_TOKEN}
registry=https://npm.pkg.github.com
always-auth=true
